@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-link.clicked {
    font-weight: bold;
    font-size: large;
}

.feeds-choice {
    color: rgb(100 116 139);
}

.feeds-choice.clicked {
    color: black;
}