@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-link {
    background-color: white;
}
  
.nav-link.clicked {
    background-color: black;
    color: white;
}

.feeds-choice {
    color: rgb(100 116 139);
}

.feeds-choice.clicked {
    color: black;
}